.wrapper {
	display: flex;
	margin-top: 7px;
	padding: 5px 10px;
	justify-content: space-between;
	background-color: #646464;
	border-radius: 7px;

	& > img {
		display: block;
		height: 15px;
	}

	.sun {
		margin-right: 10px;
	}
	.moon {
		height: 0.9em;
	}
}
