.wrapper {
	max-width: 80%;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 80px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background-color: #d5adef;
	border-radius: 0 0 20px 20px;
}
